/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
}

/*
 * Rremove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
}

/*
 * Rremove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Rremove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the elrement
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elrements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35rem) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/**
 * Custom styles
 */

body {
  background-color: #d3c4c0;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #50281b;
  color: white;
  padding: 0;
  text-align: center;
  line-height: 8rem;
}

main {
  background-image: url("/img/banner.jpg");
  background-repeat: repeat;
  background-size: auto 100%;
  background-position: left bottom;
  flex-grow: 1;
  padding: 1rem;
}

section {
  margin-bottom: 1.5rem;
}

section:last-child {
  margin-bottom: 0;
}

address {
  font-style: normal;
  line-height: 1.6;
}

p {
  line-height: 1.6;
}

a {
  color: #5a5cc6;
}

a:hover {
  text-decoration: none;
}

.display {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 7rem;
  padding: 0;
  margin: 0;
}

.placard {
  max-width: 50rem;
  margin: 2.5rem auto;
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  font-size: 1.3rem;
}

.contact-info {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.contact-info address {
  margin-left: 1.5rem;

}

.word {
  /* Used to properly break long strings when the viewport is narrow, e.g.:  <span class="word">varaukset</span><span class="word">@wanhatuukkala.fi</span> */
  display: inline-block;
}

.map {
  width: 20rem;
  height: 20rem;
  display: block;
}

.map-link {
  border: 1px solid transparent;
  padding: 0.5rem;
  display: block;
  overflow: hidden;
}

.map-link:hover {
  border: 1px solid #5a5cc6;
}

.map-link:active {
  border: 1px solid #50281b;
}

.social-media {
  display: flex;
  justify-content: space-between;
}

.social-media-link {
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0.25rem;
}

.social-media-link:hover {
  border: 1px solid #5a5cc6;
}

.social-media-link:active {
  border: 1px solid #50281b;
}

.simple-icon {
  width: 3.5rem;
}

@media screen and (max-width: 680px) {
  .display {
    font-size: 3rem;
  }

  .contact-info {
    flex-direction: column;
  }

  header {
    line-height: 4rem;
    padding: 0;
  }
}

@media screen and (min-width: 681px) {
  .display {
    font-size: 5rem;
  }
  header {
    line-height: 6rem;
  }
}

@media screen and (min-width: 1024px) {
  main {
    background-size: cover;
  }
}
